/* Generic, top-level styling */

html {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}

h1 {
    color: white;
    font-size: 350%;
    margin:0;
    font-weight: 100;
    font-family: 'Fredericka the Great', cursive;
    line-height: 1em;
}

h2 {
    visibility: hidden;
}

h3 {
    color: #265A6B;
    margin-top: 0;
}

h4 {
    margin-bottom: 0em;
}

ul {
    padding-left: 0;
    list-style: none;
}

.icon {
    font-family: 'icomoon';
}

.button {
    cursor:pointer;
}

.technologies li, .skills li{
    display: inline-flex;
    align-items: center;
    height: 2em;
    background-color: #265A6B;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    letter-spacing: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.2em;
    margin-left: 0em;
}
/* HEADER ----------------------------------------------------------*/
header {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #2E8B57;
}

/* NAVBAR ----------------------------------------------------------*/
nav {
    background-color: #4E9C68;
    text-align: center;
}

nav .button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 6em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    transition: background-color 0.5s, opacity 0.5s;
    font-weight:bold;
    letter-spacing:0.05em;
    font-size:110%;
}

nav .button:hover {
    background-color: #2E8B57;
}

nav .button.active {
    background-color: #8fbc8f ;
}

/* MAIN CONTENT ----------------------------------------------------*/
.main {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}

.main section {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    width: 100%;
}

.main section.active {
    visibility: visible;
    opacity: 1;
}

/*  PROJECTS  ------------------------------------------------------*/

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects .project {
    width: 40%;
    border: 2px solid #265A6B;
    padding: 1em;
    margin: 1em;
    display: inline-block;
}

/*  RESUME  --------------------------------------------------------*/

[data-section="resume"] ul {
    margin-left: 1em;
}

.experience > li, .education > li{
    padding-left: 10em;
    position: relative;
}

.dates {
    width: 10em;
    position: absolute;
    top: 0;
    left: 0;
    font-style: italic;
}

.duties {
    list-style-type: square;
    margin-left: 0em;
    margin-top: 0.5em;
}

.duties li {
    margin-top: 0.5em;
}

.incomplete {
    color: grey;
    padding-left: 1em;
    letter-spacing: 0.1em;
    font-size: 90%;
}
/* FOOTER ----------------------------------------------------------*/
footer {
    display: none;
}



