.header {
    background-color: #267257;
    color: white;
    width:100%;
}

.header-nav {
    width:100%;
    border-bottom: 2px solid #267257;
}

.header p {
    margin: 0px;
    padding: 20px;
    font-size: 60px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.footer {
    background-color: #267257;
    color: white;

}

.footer p {
    text-align: center;
    padding: 15px;
    margin: 0 0 0 0;
}

.menu {
    cursor: pointer;
    color: #267257;
    font-weight: 500;
    text-align:center;

}

.menu p {
    cursor: pointer;
    font-size: 25px;
    margin:10px;

}

.menu:hover {
    cursor: pointer;
    color:black;

}

.link {
    cursor: pointer;
}


footer a:link {
     color:white;
     font-weight:700;
 }
footer a:visited {
    color:white;
    font-weight:700;
}
footer a:hover {
    color:white;
    font-weight:700;
}
footer a:active {
    color:white;
    font-weight:700;
}

.maincontent a {
    color:#267257;
    font-weight:700;
    text-decoration:none;
}
.maincontent a:hover {
    color:black;


}
.maincontent a:active {
    color:black;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 150px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.maincontent {
    margin-top: 50px;

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */

}

.main p {
    font-size:20px;
}

#projects {
    display:none;
}
#resume {
    display:none;
}
#contactMe {
    display:none;
}

.skills li{
    background-color: #267257;
    border-radius: 20px;
    color: white;
    list-style-type:none;
    padding:10px;
    margin:0px;
    text-align:center;
    display:inline;
}
.skills ul {
    margin:0px;
    padding-left:0px;
}

hr {
    border: 1px dashed #267257;
}

img {
    border: 2px solid black;
}


.js-activemenu {
    color: black;
}

.work-desc {
    margin-left: 30px;
    font-size:18px;
}