.header {
    background-color: #8C46A3;
    color: white;
    width:100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header h1 {

    margin: 0px;
    padding: 25px;
    font-size: 40px;
    text-align: center;


}

.footer {
    background-color: #8C46A3;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer p {
    text-align: center;
    padding: 15px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */

}

.menu {
    background-color: #8C46A3;
    border-radius: 20px;
    height:175px;
    margin: 30px;
    padding: 10px;
    color: white;
    font-weight: 500;
    text-align:center;

}

.menu:hover {
    background-color: #6F3782;
    /* #763A8A; */

}

.menu .fa {
    margin-top: 13px;
}

.container {
    margin-top: 90px;
}

a:link {
     color:white;
     font-weight:700;
 }
a:active {
    color:white;
    font-weight:700;
}
a:hover {
    color:white;
    font-weight:700;
}
a:visited {
    color:white;
    font-weight:700;
}