body {
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding:0;
	
}

a {
	text-decoration: strong underline;
	color: red;
}

a:hover{
	color:black;
}

.jumbotron {
	background-image: url(mainImage.png);
	height:320px;
	width:980px;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	border:solid;
	border-width:1px;
	border-bottom-width:0px;
}

.jumbotron h1 {
	font-family: 'Bitter', serif;
	font-size:100px;
	color:black; 
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	padding-top:30px;
	padding-left:40px;
}

.jumbotron p {
	font-family: 'Bitter', serif;
	font-size:40px;
	color:black;
	font-weight:bold;
	margin: 0 0 0 0; 
	padding-left:40px;
}

.container {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:980px;
	border:solid;
	border-width:1px;
	overflow: hidden;
	padding: 0 0 0 0;
}
.container h1 {
	font-family: 'Bitter', serif;
}

.container p {
	font-family: 'Roboto', sans-serif;
	position:relative;
	
}

.wrapper {
	position:relative;
	margin-left: auto;
    margin-right: auto;
	width:920px;
	overflow: hidden;
	padding: 0 0 0 0;
}

.blocks {
	padding:20px;

}

#AboutMe {
	position:relative;
	width:420px;
	margin-left: auto;
    margin-right: auto;
	float:left;
	height: 220px;

}

#CV {
	position:relative;
	margin-left: auto;
    margin-right: auto;
	float:left;
	height: 220px;
	width:420px;
}

#Portfolio {
	position:relative;
	float:left;
	height: 140px;
	width:420px;
}

#ContactMe {
	position:relative;
	float:left;
	height: 140px;
	width:420px;
}
